<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="stylesheets/style_home.css">
</head>

<body>
    <button class="btn" type="button" onclick="linkto_order()"> 
        Click here to Order!
    </button>
</body>

<script src="../javascripts/linktopages.js"></script>

</html>
