* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../images/home/background-home.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    width: 15%;
    height: 120px;
    background: #CB3F27;
    border: none;
    outline: none;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: 16px;
    color: white;
    font-size: 45px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: 5px solid white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #CB3F27,
    0 0 17px #CB3F27,
    0 0 35px #CB3F27,
    0 0 70px #CB3F27;
}